@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.main-image-container {
    width: 100%; /* Container의 가로에 맞추기 */
    overflow: hidden; /* 넘치는 부분을 잘라냄 */
    height: 30vh;
}

.main-image {
    object-fit: cover; /* 가로에 맞추고 세로는 비율에 맞게 크롭 */
  width: 100%;
  height: 100%;
}

p {
    flex-grow: 0;
  flex-shrink: 0;
  font-size: 22px;
  text-align: left;
  color: #000;
}

.nav-bar-links {
  font-size: 14px;
  color: #1e1e1e;
}

.heading-text {
    font-weight: 600;
}

.card-header-text {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 0.5rem;
}

.card-body-text {
    color: #B3B3B3;
    font-size: 13px;
    margin-bottom: 0.25rem;
}

.filter-category {
    font-weight: 600;
    font-size: 14px;
  }

  .filter-values {
    font-weight: 400;
    font-size: 14px;
  }

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.badge-custom {
  background-color: #F5F5F5; /* 원하는 배경색 */
  color: #000000 !important;         /* 텍스트 색상 */
  align-items: center;
  padding: 0rem 0.5rem !important; 
  font-weight: 400 !important;
}

.btn-no-bg {
  background-color: transparent !important; /* 배경색 제거 */
  border: none !important;                /* 보더 제거 */
  color: inherit !important;              /* 기본 텍스트 색상 유지 */
  padding: 0.5rem !important;  
  font-size: 0.75rem !important;
  font-weight: 600 !important;
}

.scrollable-table {
  min-height: 17vh;
  max-height: 17vh; /* 스크롤 영역 높이 제한 */
  overflow-y: auto; /* 수직 스크롤 활성화 */
}

.border-div {
  flex: 1;
  border: 1px solid #D9D9D9 !important;
  padding: 1rem;
}

.p-text {
    border: 0; /* 기본 테두리 제거 */
    border-top: 2px solid #D9D9D9; /* 수평선의 색상 및 두께 설정 */
    margin: 10px 0;
}

.div-search {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 9999px;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding-left: 0.5rem;
}

.btn-search {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
}

.btn-transparent {
  border-color: transparent !important;
    background-color: transparent !important;
    background-image: none !important;
    color: #000000 !important;
    font-size: 1.25rem;
}

td {
  align-content: center;
}

table tr:hover {
  cursor: pointer;
}

.text-search {
  border-color: transparent;
  border-radius: 10px;
  outline: none;
}

.dropdown-transparent {
    background-color: transparent !important;
    border-color: #D9D9D9 !important;
}

/* housing-data */

.housing-subtitle {
  font-size: 24px !important;
  font-weight: 600 !important;
}

.housing-data h1, 
.housing-data h2, 
.housing-data h3 {
  color: #2c3e50;
  margin-bottom: 10px;
}

.housing-data h1 {
  font-size: 1em;
  border-bottom: 2px solid #2980b9;
  padding-bottom: 10px;
}

.housing-data h2 {
  font-size: 0.5em;
  margin-top: 20px;
}

.housing-data h3 {
  font-size: 0.75em;
  margin-top: 14px;
}

.housing-data p {
  margin: 10px 0;
  font-size: 0.75em;
}

.housing-data ul {
  margin: 10px 0 10px 20px;
  padding: 0;
  list-style-type: disc;
}

.housing-data ul li {
  margin-bottom: 5px;
}

/* Custom Pagination Styles */
.custom-pagination .page-item {
  border-color: #6c757d; /* 회색 테두리 */
}

.custom-pagination .page-link {
  color: #6c757d; /* 회색 텍스트 */
  background-color: #fff; /* 밝은 회색 배경 */
}

.custom-pagination .page-item.active .page-link {
  background-color: #6c757d; /* 활성 페이지 배경 색 */
  border-color: #6c757d; /* 활성 페이지 테두리 색 */
  color: white; /* 활성 페이지 텍스트 색 */
}

.custom-pagination .page-link:hover {
  color: #495057; /* 호버 시 색상 변경 */
  background-color: #e9ecef; /* 호버 시 배경색 변경 */
}

.inputTypeError {
  font-weight: 400;
  font-size: 14px;
  color: red;
}



/* 조건페이지 nav link css */
.condition-nav {
  color: gray !important;
}

.condition-nav:hover {
  color: black !important;
}

.nav-link.active  {
  color: black !important;
}