.body-container {
  display: flex;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  height: auto; /* 화면 전체 높이 */
}

.form-container {
  /* Form Contact */
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;

  width: 100%;
  min-width: 320px;
  max-width: 375px;
  min-height: auto;

  background: #f8f9fa;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

  margin: 10px;

  border-radius: 8px;
}

.form-container-signin {
  /* Add styling specific to the sign-in section */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 10px; /* Adjust gap between form groups */
}

.form-container-signin h2 {
  text-align: center; /* 부모 기준으로 가운데 정렬 */
  font-weight: bold; /* 글씨를 굵게 설정 */
  font-size: 24px;
  width: 100%;
}

.form-container-signin .find-links {
  display: flex; /* 플렉스 컨테이너 활성화 */
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 (필요 시) */
  font-size: 14px;
  color: #666;
  width: 100%;
}

.form-container-signin .find-link {
  color: #333;
  text-decoration: none;
  margin: 0 5px; /* 링크 사이 간격 추가 */
  text-decoration: underline;
}

.form-container-signin .find-link:hover {
  color: #1e90ff;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.form-group label {
  font-weight: bold;
  color: #333;
  font-size: 14px;
}

.form-group input {
  padding: 8px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.form-group input::placeholder {
  font-size: small;
}

.input-group input:focus {
  border: 0.5px solid #697077;
}

.input-group .verify {
  margin-top: 5px;
}

.submit-button {
  margin-top: 8px;
  padding: 12px 16px;
  background-color: #212529;
  color: white;
  border: none;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #424649;
}

.form-group .error-message {
  color: red;
  font-size: 12px;
  font-weight: 600;
  margin-left: 5px;
}

/* 휴대전화 */
.form-group-phone {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group-phone label {
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
  font-size: 14px;
}

.form-group-phone .input-group {
  display: flex;
  align-items: center;
  gap: 8px; /* 입력 필드와 버튼 간 간격 */
  width: 100%;
}

.form-group-phone input {
  padding: 8px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  flex: 1; /* 입력 필드가 남은 공간 채우도록*/
  box-sizing: border-box;
  border-radius: 4px;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}

.form-group-phone input::placeholder {
  font-size: small;
}

.form-group-phone button {
  padding: 10px;
  color: #000;
  font-size: small;
  border: 1px solid #f0f0f0;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 4px;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  height: 100%;
}

.form-group-phone button:hover {
  color: #000;
  border: 1px solid #d3d4d5;
  background-color: #d3d4d5;
}

.form-group-phone .error-message {
  color: red;
  font-size: 12px;
  font-weight: 600;
  margin-top: 8px; /* 입력 그룹과의 간격 */
  margin-left: 5px;
}

/* 비활성화 상태: 색상 진하게, 커서 해제*/
.form-group-phone button:disabled {
  color: #000;
  border: 1px solid #d3d4d5;
  background-color: #d3d4d5;
  cursor: not-allowed; /* 마우스 포인터 변경 */
}

/* 비활성화 상태: 호버 스타일 비활성화 */
.form-group-phone button:disabled:hover {
  background-color: #d3d4d5; /* 동일한 색상 유지 */
  transform: none;
}
